.section-four {
	padding-bottom: 22.3rem;
}

.contact-big {
	position: relative;
	display: flex;
	justify-content: center;
	padding: 11rem 0;
	background: url(../assets/img/image23.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.contact-big-info {
	position: absolute;
	top: 85%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 2.4rem;
	background-color: var(--unnamed-color-ffffff);
	width: calc(100vw - 4rem);
	padding: 4rem 2rem;
	box-shadow: 0 0 4rem rgba(0, 0, 0, 0.2);
}

.contact-big-info button {
	background-color: var(--unnamed-color-ebebeb);
	border-color: var(--unnamed-color-ebebeb);
}

.contact-big-txt {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.8rem;
	text-align: center;
}

.contact-big-txt h1{
	font: 
		var(--unnamed-font-style-normal) normal 
		var(--unnamed-font-weight-bold) 
		var(--unnamed-font-size-24)/var(--unnamed-line-spacing-32) 
		var(--unnamed-font-family-open-sans);
}

.contact-big-txt h2{
	font: 
		var(--unnamed-font-style-normal) normal 
		var(--unnamed-font-weight-normal) 
		var(--unnamed-font-size-16)/var(--unnamed-line-spacing-24) 
		var(--unnamed-font-family-open-sans);
}

@media only screen and (min-width:  750px) {

	.section-four {
		padding: 0 4rem;
	}

	.contact-big {
		width: 60vw;
		padding: 25rem 0;
	}

	.contact-big-info {
		top: calc((100% - (100% - 16rem)) / 2 );
		left: 60%;
		height: calc(100% - 16rem);
		width: calc(60vw * 0.85);
	}
}